*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(225deg, rgba(255, 231, 220, 0.712) 40%,white, rgb(245, 223, 249) 50%);
}
.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.container h1 {
    margin: 20px 0px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.gallery {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}

.card {
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    
}
.card img {
    width: 100%;
    height: 100%;
    filter: grayscale();
    box-shadow: 0 0 20px black;
    object-fit: cover;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px rgb(118, 116, 116));
 
}
.card:hover img {
    filter: grayscale(0%);
}


.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: white;
    opacity: 0;
    border-radius: 0 0 10px ;
    background:linear-gradient(0deg,rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 100%);
  transition: 0.3s;
}
.card:hover figcaption{
    opacity: 1;
    transform:scale(1.03);
}
.buttonback{
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: rgb(75, 174, 244);
    color:aliceblue;
    box-shadow: 10p 10px gray;
    border: 1px solid rgb(237, 234, 234);
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    

}
button{
    text-decoration: none;
    align-items: center;
}
button:hover{
    cursor: pointer;
}